.character-counter {
  color: lighten($ui-glitchy-blue, 16%);
}

.compose-form__actions .icon-button.active {
  background: lighten($ui-glitchy-blue, 8%) !important;
}

.status__display-name {
  color: $ui-secondary-color !important;
}

.mention {
  color: $ui-bright-color !important;
}

.notification__message > span {
  color: $white !important;
}

.emoji-mart-anchor-icon {
  color: lighten($ui-glitchy-blue, 16%);
}

.status__content__spoiler-link {
  color: $inverted-text-color !important;
}

.autosuggest-account .display-name__account {
  color: $ui-glitchy-blue !important;
}

.content-warning > p {
  color: lighten($ui-glitchy-brightest, 12%);
}

.spoiler-input {
  &__border {
    display: none;
  }

  &__input {
    padding: 12px !important;
    background: rgba($ui-glitchy-blue, 0.05) !important;
    color: lighten($ui-glitchy-blue, 18%) !important;
  }
}

.react-toggle {
  &:hover:not(.react-toggle--disabled) &-track {
    background: $ui-glitchy-blue;
  }

  &-track {
    background: darken($ui-glitchy-blue, 12%);
  }
}
