div.ui {
  background: rgb(21, 21, 25);
  background: url('../images/ashes.png'),
    linear-gradient(
      180deg,
      rgba(21, 21, 25, 100%) 17%,
      rgb(20, 38, 46) 44%,
      rgba(32, 41, 43, 100%) 74%,
      rgba(25, 30, 36, 100%) 100%
    );
  background-blend-mode: soft-light, normal;
  background-repeat: repeat, no-repeat;
}

div.ui {
  animation-name: ashes;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.columns-area__panels {
  background: rgb(21, 21, 25);
  background: url('../images/ashes.png'),
    linear-gradient(
      180deg,
      rgba(21, 21, 25, 100%) 17%,
      rgb(20, 38, 46) 44%,
      rgba(32, 41, 43, 100%) 74%,
      rgba(25, 30, 36, 100%) 100%
    );
  background-blend-mode: soft-light, normal;
  background-repeat: repeat, no-repeat;
}

body.no-reduce-motion div.columns-area__panels {
  animation-name: ashes;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.compose-panel {
  background: rgba(0, 0, 0, 50%);
}

.column {
  padding: 0;
  margin: 10px;
  box-shadow: 0 0 10px darken($ui-highlight-color, 20%);
}

.column-header {
  font-family: Benguiat, serif;
  text-transform: uppercase;
  font-size: 18pt;
  color: $black;
  text-shadow: 1px 1px 8px $ui-highlight-color;
  -webkit-text-stroke: 0.02em $ui-highlight-color;
}

div.columns-area--mobile > div.column {
  padding: 0;
  box-shadow: 0 0 10px darken($ui-highlight-color, 20%);
  width: 95%;
  height: auto;
  margin: 2.5%;
}

@media screen and (width >= 631px) {
  .column:last-child {
    padding-inline-end: 0;
  }
}

@media screen and (width <= 630px) {
  .column {
    width: 90%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}
