$ui-base-color:           #111111;
$ui-secondary-color:      #3ed647;
$ui-primary-color:        #1e7223;
$ui-highlight-color:      #198c20;
$simple-background-color: #555555;
$primary-text-color: #cccccc;
$inverted-text-color: #cccccc;


@import "application.scss";
