// Dependent colors
$black: #000000;
$white: #ffffff;
$blurple-500: #4b85ac;
$blurple-600: darken($blurple-500, 8%);
$blurple-400: lighten($blurple-500, 8%);
$blurple-300: lighten($blurple-500, 12%);

$classic-base-color: #dadada;
$classic-primary-color: #303030;
$classic-secondary-color: #222222;
$classic-highlight-color: #cc7dcc;

$ui-button-background-color: $blurple-500 !default;
$ui-button-focus-background-color: $blurple-600 !default;
$ui-button-focus-outline-color: $blurple-400 !default;
$ui-button-focus-outline: solid 2px $ui-button-focus-outline-color !default;

$ui-button-tertiary-color: $blurple-300 !default;
$ui-button-tertiary-border-color: $blurple-300 !default;
$ui-button-tertiary-focus-background-color: $blurple-600 !default;
$ui-button-tertiary-focus-color: $white !default;

// Differences
$success-green: #3c754d;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #b0c0cf;
$ui-primary-color: #fce6f5;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #4b85ac;

$primary-text-color: #d0dadd !default;
$darker-text-color: #c8bccf !default;
$dark-text-color: #867ab9;
$action-button-color: #74b8c4;

$inverted-text-color: #597264 !default;
$lighter-text-color: #594461 !default;
$light-text-color: #444b5d;
