@use 'sass:color';

@use '../mastodon/functions' with (
  $darken-multiplier: 1,
  $lighten-multiplier: -1
);

// Dependent colors
$black: #000;
$white: #ffeab2;
$blurple-600: #b2d8cf;
$blurple-500: #c6f1e7;
$blurple-400: #d1f3eb;
$blurple-300: #dcf6f0;

$classic-base-color: #404040;
$classic-primary-color: darken(#f0e89b, 10%);
$classic-secondary-color: #ffeab2; // main color, background and shit
$classic-highlight-color: #f00; // accent color
$ui-button-focus-outline-color: $blurple-400;
$success-green: #029666;
$ui-highlight-color: #98c1ef;
$ui-base-color: $classic-secondary-color;

@use '../mastodon/variables' with (
  $ui-highlight-color: #98c1ef,
  $ui-base-color: $classic-secondary-color,
  $ui-base-lighter-color: #b0c0cf,
  $ui-primary-color: lighten(#a8f0f6, 10%),
  $ui-secondary-color: $classic-base-color,

  $ui-button-color: $black,
  $ui-button-background-color: $blurple-500,
  $ui-button-focus-background-color: $blurple-600,
  $ui-button-focus-outline-color: $blurple-400,
  $ui-button-focus-outline: solid 2px $ui-button-focus-outline-color,

  $gold-star: $ui-highlight-color,

  $ui-button-tertiary-color: $blurple-300,
  $ui-button-tertiary-border-color: $blurple-300,
  $ui-button-tertiary-focus-background-color: $blurple-600,
  $ui-button-tertiary-focus-color: $white,

  // Differences
  $success-green: #029666,

  $base-overlay-background: #a8f0f6,
  $valid-value-color: $success-green,

  $primary-text-color: $black,
  $darker-text-color: $classic-base-color,
  $dark-text-color: #606060,
  $action-button-color: #ff8172,

  $inverted-text-color: $black,
  $lighter-text-color: darken($classic-base-color, 10%),
  $light-text-color: #385076
);
